.gray {
    filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

img {
  width: 50px;
  height: 70px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}